@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap');
@import 'variables';
@import 'keyframes';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

// utilities

.container{
    max-width: 1100px;
    margin: auto;
}

body{
    overflow: hidden;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


nav{
    height: 70px;
    width: 100%;
    position: fixed;
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0 1rem;
        position: relative;

        img{
            height: 70px;
            grid-column: 1/span 2;
            z-index: 1;
        }

        ul{
            font-family: $font-family1;
            width:300px;
            display: flex;
            justify-content: space-around;
            padding: 1rem 0;
            position: absolute;
            right: 0;
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                position: relative;
                background: $primary-color;
                border-radius: 5px;
                a{  
                    font-size: 0.8rem;
                    width: auto;
                    padding: 0.7rem 0.8rem;
                    color: white;
                    z-index: 1;
                }

                
            }
            li::before{
                content: '';
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.3;
                animation: horizontal-hover-out 0.4s ease-in-out;
            }

            li:hover::before{
                animation: horizontal-hover-in 0.4s ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
        }
    }
    
}

header{
    width: 100%;
    overflow-x: hidden;
    .showcase{
        height: 100vh;
        width: 120%;
        div:nth-child(1){
            height: 40vh;
            width: 100%;
            background: #fff;
        }

        div:nth-child(2){
            border-radius: 50% 50% 0 0;
            background: $primary-color;
            position: relative;
            left: -7.9%;
            height: 60vh;
            display: flex;
            justify-content: center;
            img{
                width: 150px;
                transform: rotate(-18deg);
                border-radius: 50%;
                position: absolute;
                top: -19%;
            }
        }
       
    }
}

